body {
  background-color: #071952;
  font-family: "Pixelify Sans", sans-serif;
   background-image: url("thething2.webp");
   background-size: cover;
   width: 160px;
   height: 160px;
   resize: both;
   overflow: scroll;
   color: white;
   
 }
  
 button {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #071952;
  color: white;
 
  
 }

img {
  display: inline-block;
  height: 134px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 134px;
}
